.de-uranime-anime .Show,
.de-uranime-anime .Show .info,
.de-uranime-anime .Show .info>img,
.de-uranime-anime .Show .info .progress,
.de-uranime-anime .seasons,
.de-uranime-anime .seasons img,
.de-uranime-anime .seasons .progress{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.de-uranime-anime .Anime{
    position: relative;
}

.de-uranime-anime .Show{
    display: inline-block;
    position: relative;
    padding: 20px 50px 20px 0;
    width: 136px;
    vertical-align: top;
}

.de-uranime-anime .Show.active{
    width: 100%;
    left: 0;
    padding-right:0;
}

.de-uranime-anime .Show .info{
    width: 136px;
    display: inline-block;
}

.de-uranime-anime .Show h2{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.de-uranime-anime .Show img.poster{
    height: 200px;
}

.de-uranime-anime .episodes-container{
    display: none;
    width: calc(100% - 160px);
    float: right;
}

.de-uranime-anime .episodes-container th .icon-check{
    cursor: pointer;
}

.de-uranime-anime .Show.active .episodes-container{
    display: block;
    background-size: cover;
}

.de-uranime-anime .seasons .Season input[type="checkbox"]{
    position: absolute;
    right: 3px;
    top: 0;
    z-index: 10;
    display: none;
}

.de-uranime-anime .Episode tr.episode-number{
    width: 100px;
}

.de-uranime-anime .Episode td{
    vertical-align: middle;
}

.de-uranime-anime .Episode .title img{
    height: 30px;
    margin-right: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.de-uranime-anime .Episode td.action{
    width: 145px;
}

.de-uranime-anime .Episode td.action .action-delete,
.de-uranime-anime .Episode td.action .info-config{
    display: none;
}

.de-uranime-anime .Episode .btn-group>.btn:nth-child(2) {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.de-uranime-anime .episodes-container{
    display: none;
}

.de-uranime-anime .episodes-container th .icon-check{
    cursor: pointer;
}

.de-uranime-anime .Episode p.overview{
    display: none;
}

.de-uranime-anime.episode-tooltip p.overview{
    display: block;
}

.de-uranime-anime .Show>.buttons,
.de-uranime-anime .Show.active .info .progress span{
    display: none;
}

.de-uranime-anime .Show.active>.buttons{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 280px;
}

.de-uranime-anime .episodes-container .table td{
    border-top: none;
}
